<div class="col xs12 course">
  <div class="row">
    <div class="col xs4">
      {{ course.title}}
    </div>
    <div class="col xs4">
      Temps total parcours:{{ medias.length}}
    </div>
    <div class="col xs2">
      {{ course.modules.length }} modules
    </div>
    <!-- Icon open / close -->
    <div class="col xs1">
      <span [ngClass]="{'icon-list': true, 'up': !course.isSelected, 'down': course.isSelected}" (click)="revealOrHide(course)">&gt;</span>
    </div>
    <div class="col xs1">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span>View course</span>
        </button>
        <button mat-menu-item>
          <span>Update course</span>
        </button>
        <button mat-menu-item>
          <span (click)="RemoveCourse(course)">Remove course</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <app-module-list [ngClass]="{'is-visible': course.isSelected}" [modules]="course.modules"></app-module-list>
</div>

