<!-- Display title and number -->
<div class="col xs12">
  <a [routerLink]="['/', 'dashboard']">Back</a>
</div>
<div class="row xs12">
  <div class="col xs10 course-title">
    Course List
  </div>
  <div class="col xs1 course-number">
    {{ courses.length }} items
  </div>
  <div class="col xs1 course-MenuContextuel">
    
  </div>
</div>
<button mat-button color="primary" [routerLink]="['/course/add']">Ajouter un cours</button>
<ng-container *ngIf="courses.length">
  <ng-container *ngFor="let course of courses">
    <app-course-tile [course]="course" (onToggleCourse)="onCourseToggle($event)">
    </app-course-tile>
  </ng-container>
</ng-container>



