<form class="row" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="col xs12">
      <input matInput placeholder="Your login..." formControlName="login">
      <mat-error *ngIf="form.controls['login'].touched && form.controls['login'].errors">
        Login is required...
      </mat-error>
    </mat-form-field>
    
    <mat-form-field class="col xs12">

      <div class="password" class="col xs11">
        <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="Your password..." formControlName="password">
        <mat-error *ngIf="form.controls['password'].touched && form.controls['password'].errors">
          Password is required...
        </mat-error>
      </div>

      <div class="col xs1">
        <button mat-button (click)="passwordToggle()" [disabled]="showPassword">
            <mat-icon>visibility</mat-icon>
          </button>
      </div>
      
    </mat-form-field>


    <div class="col xs12">
      <button mat-raised-button color="primary" [disabled]="form.invalid">
        Login
      </button>
    </div>
  </form>